<%= form_for sale, html: { class: "ui form grid" } do |f| %>

  <%= f.hidden_field :team_id, required: true %>

  <% if sale.errors.any? %>
    <div class="ui negative message">
      <div class="ui header">
        Error with creation
      </div>
      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve wide column field">
      <div class="field">
        <label>Type of sale</label>
        <%= f.select :sale_type_id, SaleType.all.map{|p| [p.name, p.id]} %>
      </div>
      <label>Seller</label>
      <%= f.select :seller_id, Member.all.map{|p| [p.member_full_name, p.id]} %>
      <label>Buyer</label>
      <%= f.select :buyer_id, Member.all.map{|p| [p.member_full_name, p.id]} %>
    </div>
    <div class="four wide column">
      <div class="field">
        <label>Sale Date</label>
            <%= f.date_field :sale_date, placeholder: "Дата/Время", :order => [:day, :month, :year], required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve wide column">
      <div class="field products">
        <div class="item">
          <label>Product</label>
          <select class="select1" name="sale[items][0][product_id]">
            <% Product.all.each do |product| %>
              <option value="<%=product.id %>"><%=product.name_eng %></option>
            <% end %>
          </select>
          <label>Quantity</label>
          <input type="text" name="sale[items][0][quantity]" placeholder="quantity of product" required="required"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">
      <div class="ui divider"></div>
      <input type='button' class="ui blue button add" value='Add product'>
      <%= f.submit "Create sale", class: "ui blue button" %>
    </div>
  </div>
  <script>
      $(document).ready(function(){
          $(".add").click(function () {
              var item = $(
                  '<div class="item">' +
                  '<label>Product</label>' +
                  '<select class="select1" name="sale[items][1][product_id]">' +
                  '<% Product.all.each do |product| %>' +
                  '<option value="<%=product.id %>">' + '<%=product.name_eng %></option>'+
                  '<% end %>' +
                  '</select>' +
                  '<label>Quantity</label>' +
                  '<input type="text" name="sale[items][1][quantity]" placeholder="quantity of product" required="required"/>' +
                  '<a class="remove">✕</a>'+
                  '</div>'
              );

              item.appendTo(".products");
              updateNamesOfInputs();
              $(".remove", item).click(function() {
                  item.remove();
                  updateNamesOfInputs();
              });
          });

          function updateNamesOfInputs() {
              $('.products .item').each(function(index) {
                  $(".select1", this).attr('name', `sale[items][${index}][product_id]`);
                  $("input[type=text]", this).attr('name',`sale[items][${index}][quantity]`);
              });
          }
      });
  </script>
<% end %>